<%= form_for(@outputdevice) do |f| %>
  <% if @outputdevice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@outputdevice.errors.count, "error") %> prohibited this outputdevice from being saved:</h2>

      <ul>
      <% @outputdevice.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :statuso %><br>
    <%= f.check_box :statuso %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
