<p id="notice"><%= notice %></p>

<p>
  <strong>Devicename:</strong>
  <%= @outputdevice.devicename %>
</p>

<p>
  <strong>Status:</strong>
  <%= @outputdevice.status %>
</p>

<%= link_to 'Edit', edit_outputdevice_path(@outputdevice) %> |
<%= link_to 'Back', outputdevices_path %>
