<h1>Listing schedulers</h1>

<table>
  <thead>
    <tr>
      <th>Starttime</th>
      <th>Endtime</th>
      <th>Outputdeviceid</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @schedulers.each do |scheduler| %>
      <tr>
        <td><%= scheduler.starttime %></td>
        <td><%= scheduler.endtime %></td>
        <td><%= scheduler.outputdeviceid %></td>
        <td><%= link_to 'Show', scheduler %></td>
        <td><%= link_to 'Edit', edit_scheduler_path(scheduler) %></td>
        <td><%= link_to 'Destroy', scheduler, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduler', new_scheduler_path %>
