<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @outputdevice.name %>
</p>

<p>
  <strong>Statuso:</strong>
  <%= @outputdevice.statuso %>
</p>

<%= link_to 'Edit', edit_outputdevice_path(@outputdevice) %> |
<%= link_to 'Back', outputdevices_path %>
